
body{
    background: url(img/fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

#mapa{
    text-align: center;
}

.banner{
    width: 70%;
}

.instrucciones{
    background-color: white;
    border:1px solid black;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

.imagen, .codigo{
    margin-top: 50px;
    text-align: center;
}

.correcto{
    color: green;
    text-align: center;
}

.incorrecto{
    color: red;
    text-align: center;
}

.mtesoro{
    width: 20%;
}

.redondeado {
    width: 300px;
    height: 40px !important;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px;
  }

  .boton{
      height: 35px;
  }

  .centrado{
      text-align: center;
  }

  .ins{
      margin-top:30px;
  }

  .inventario {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
 }

 .inventario img{
     cursor: pointer;
 }

 .mochila{
    width: 100px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
 }

 .sudoku{
    width: 150px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
 }


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}