
body{
    background: url(img/fondo2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.libros{
    text-align: center;
    width: 120px;
    margin-right: 100px;
}

.banner{
    width: 70%;
}


.imagen, .codigo{
    margin-top: 50px;
    text-align: center;
}


.redondeado {
    width: 300px;
    height: 35px !important;
    text-align: center;
  }

  .centrado{
      text-align: center;
  }

  .atras {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
 }

 .atras img{
     cursor: pointer;
 }

 .flecha{
    width: 200px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
 }

 
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
